



div {
    class: wrapper
 }
body {
   background-color: grey
}


h1 {
  background-color: white;
   }
    head {
  background-color: black;
   }
/* style footer */

#footer{

    height:80px;

    background-color: rgb(152, 209, 219);

    border-radius: 0 0 10px 10px;

}


#footer>p#pfooter{

    margin: 5px;

    text-align: center;

}

#footer>div{

    text-align: center;

}

 

 

 
