/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

header {
    role: banner;
}


div {
    class: wrapper;
 }
body {
   background-color: grey ;
}


h1 {
  background-color: white;
   }
    head {
  background-color: black;
   }
   h1 {
  background-color: white;
   }
    head {
  background-color: black;
   }
      h2 { background-color: dark grey;
         }
      h3 { background-color: grey;
         }


footer{

    height:80px;

    background-color: white;

    border-radius: 0 0 10px 10px;

}


#footer>p#pfooter{

    margin: 5px;

    text-align: center;

}

#footer>div{

    text-align: center;

}

 

 

 
